<h1>About Us</h1>
<p>This is my <a href="http://onemonthrails.com">One Month Rails</a> project. The aim of the project is to create a simple image sharing web application whilst learning the basics of Ruby on Rails. </p>
<!-- This file was created in app/views/pages file and given the name:
	about.html.erb
This is one of the three steps needed in order to make a new page.
-->
