<h1>Welcome to the PinterestingApp</h1>
<p><a href="localhost:3000/">Sign up</a> for free!</p>
<!-- Change hyperlink address to sign-up page, Im guessing we'll do that soon but whatevs thought I should get into the habit of writing comments with my code.--> 
