<!--
 Example linking code that was moved to app/views/layouts/application.html.erb/
<%= link_to "Home", root_path %>
<%= link_to "About", about_path %> 
-->
<div class="jumbotron center">
<!-- Ruby links to the Home and About pages. Note root_path and about_path (and all such paths need to be defined in config/route.rb/) -->
	<h1>Welcome to the PinterestingApp</h1>

<% if user_signed_in? %>
# do something

<% else %>

	<!--Added after "#" some code for nice bootstrap buttons-->
		<p> <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg"%>

			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"%> for free!
		</p>
		<% end %>
<!-- Change hyperlink address to sign-up page, Im guessing we'll do that soon but whatevs thought I should get into the habit of writing comments with my code.--> 
<!--Changed hyperlink code from html to embedded Ruby-->
</div>