<!DOCTYPE>
<html> 


<div class="jumbotron">
	
	<h1>Sign Up</h1>	
	<p> PinterestingApp is free to join and full of great features.</p>

			<div class="input-group">
			  <span class="input-group-addon">Username</span>
			  <input type="text" class="form-control" placeholder="John123">
			</div>

			<div class="input-group">
			  <span class="input-group-addon">Email</span>
			  <input type="text" class="form-control" placeholder="example@email.com.au">
			</div>

			<div class="input-group">
			  <span class="input-group-addon">Password</span>
			  <input type="text" class="form-control" placeholder="6-18 characters">
			</div>

			<div> 
				<p> <%= link_to "Go!", "#", class: "btn btn-primary btn-lg" %>
				</p>
			</div>

</div>




</html>